@charset "utf-8";
/* CSS Document */

/*==========*/
/*  
    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
    Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts
  
/*==========*/

.block-news {
  background: #fff;
  padding-bottom: 30px;
}
.news-item .news-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.news-item .news-img img {
    position: relative;
    margin: auto;
    width: 100%;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.news-item:hover .news-img img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    background: #252525;
    opacity: 0.5;
}
.news-item .news-info {
  min-height: 145px;
    text-align: center;
    margin-top: 0px;
    padding: 0 15px;
}
.news-item .news-info .data-post {
    color: #707070;
    font-size: 12px;
    margin-bottom: 10px;
    height: 15px;
    overflow: hidden;
    text-transform: uppercase;
}
.news-item .news-info h3 {
    overflow: hidden;
    height: 45px;
    line-height: 20px;
}

ul li {
    list-style-type: none;
}
.block-properties {
    position: relative;    
    line-height: 1;
}
.block-properties .properties-grid .property:nth-child(4n+1) {
    clear: both;
}
.block-properties .properties-grid .property .price {
    background-color: #ffffff;
    color: #313131;
    font-size: 18px;
    padding: 5px 16px;
    position: absolute;
    right: 0;
    top: 160px;
    bottom: auto;
}

@media (max-width: 767px) {
    .block-news,
    .block-properties {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.tabs-custom .tab-content {
    padding: 20px 0;
    box-shadow: none;
}
.tabs-custom .nav {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;    
}

.tabs-custom .nav-tabs > li > a {
    color: #022a3b;
    font-size: 18px;    
}
.tabs-custom .nav-tabs > li.active {
    background-color: #0581B5;
    
}
.tabs-custom .nav-tabs > li.active > a{
    color:#FFF;
    font-size: 18px;    
}
.tabs-custom .nav-tabs > .active > a, .tabs-custom .nav-tabs > .active > a:hover, .tabs-custom .nav-tabs > .active > a:focus {
    color: #FFF;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    font-size: 18px;    
}
.tabs-custom .nav-tabs > li > a:hover, .tabs-custom .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #dddddd;
    font-size: 18px;    
}

/*===== Add Form Inline =====*/
.titile-post-news {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}
.attention {
    color: #fc0000;
    font-size: 12px;
}
.form-inline-style .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-inline-style .inline-block {
  display: inline-block;
}
.form-inline-style .type_radio {
    margin-right: 5px;
}
.form-inline-style .type_radio .radio_type {
    margin: 0;
}
.form-inline-style .chzn-container .chzn-single {
    height: 33px;
    line-height: 33px;
}
.list-your-property-form form.form-inline-style label {
  font-weight: normal;
}
.list-your-property-form form.form-inline-style input[type=text] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
  width: 100%;
  border-radius: 0;
}
.btn-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-default:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.mymap {
  width: 100%;
  height: 425px;
  border: 0;
}
.list-your-property-form form.form-inline-style .unit input[type=text] {
    width: 95%;
}
.show-image ul {
    padding: 0;
    margin: 0;
}
.show-image li {
  margin-bottom: 5px;
  display: inline-block;
}
.show-image li:last-child {
  display: inline-block;
  width: 95px;
  height: 94px;
}
.register-avata {
  /* display: none; */
  width: 94px;
  height: 94px;
  overflow: hidden;
  float: left;
  margin-right: 4px;
  position: relative;
  background-color: transparent;
  background-size: 94px 94px;
}
.register-avata .upload-item-delete {
  background: url(../img/avatar-tool-delete.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  border: 0;
}