@charset "utf-8";
/* CSS Document */

/*==========*/
/*  
    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
    Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts
  
/*==========*/

.block-news {
	background: #fff;
	padding-bottom: 30px;
}
.news-item .news-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.news-item .news-img img {
    position: relative;
    margin: auto;
    width: 100%;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.news-item:hover .news-img img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    background: #252525;
    opacity: 0.5;
}
.news-item .news-info {
	min-height: 145px;
    text-align: center;
    margin-top: 0px;
    padding: 0 15px;
}
.news-item .news-info .data-post {
    color: #707070;
    font-size: 12px;
    margin-bottom: 10px;
    height: 15px;
    overflow: hidden;
    text-transform: uppercase;
}
.news-item .news-info h3 {
    overflow: hidden;
    height: 45px;
    line-height: 20px;
}

ul li {
    list-style-type: none;
}
.block-properties {
    position: relative;    
    line-height: 1;
}
.block-properties .properties-grid .property:nth-child(4n+1) {
    clear: both;
}
.block-properties .properties-grid .property .price {
    background-color: #ffffff;
    color: #313131;
    font-size: 18px;
    padding: 5px 16px;
    position: absolute;
    right: 0;
    top: 160px;
    bottom: auto;
}

@media (max-width: 767px) {
    .block-news,
    .block-properties {
        padding-left: 20px;
        padding-right: 20px;
    }
}